/*
    Custom StyleSheet
*/

/* 
    Created on : 2016/06/09, 19:03:53
*/


.ws-panel-title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

.ws-panel-title h4 {
    margin: 5px 0 6px;
    color: #7387A8;
    display: block;
    text-overflow: ellipsis;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

.navbar-right {
    margin-right: 0px !important;
}

.panel-tool {
    color: #C5C7CB;
}

.a-button{
    padding: 5px !important;
    color: #C5C7CB;
    text-decoration: none;
    background: transparent !important;
}

.a-button:hover{
    padding: 5px;
    color: #C5C7CB;
    text-decoration: none;
    background: #F5F7FA !important;
}

.a-button:focus{
    padding: 5px;
    color: #C5C7CB;
    text-decoration: none;
    background: transparent;
}

.ws-panel-title:before {
    display: table;
    content: " ";
}
.ws-panel-title:after {
    display: table;
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    box-sizing: border-box;
}
.panel {
    border: 1px solid #E6E9ED;
    padding: 10px 17px;
}